# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# Other
*.swp
*.bak
# Logs
*.log  
# Configuration files
config.py
variables.txt
env.list
# Ignore the following files
# These files are recently edited and should not be deleted
# .gcloudignore
